.page-header {
  background: $off-white;
  padding: $l-size 0;
  margin-bottom: $l-size;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;   
}

.page-header__title {
  font-weight: 300;
  margin: 0;
  span {
    font-weight: 700;
  }
}